
<nav class="navbar navbar-expand-lg navbar-light bg-light"> <h3 style="color:skyblue"> Meeting Planner</h3>
  <hr>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end mr-auto" id="navbarSupportedContent">
    <ul class="navbar-nav mr-5" >
       
      <li class="nav-item not-active " >
        <a class="nav-link " [routerLink]="['/login']" style="color:paleturquoise!important;">Login </a>
      </li>
    </ul>
  
    
  </div>
</nav>

<div class='container mt-10'>
  

<div class="card text-center">
    <div class="card-header">
      Forgot password    </div>
    <div class="card-body">
      <h5 class="card-title">Please provide your email to send details for reset password</h5>
      
      <div class="card-title mt-4">
          <form>
              <div class="row justify-content-center">
                <div class="col-lg-8  col-md-8 col-sm-12">
                  <input type="email" #emailModal="ngModel" [(ngModel)]="email" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" placeholder="email" required=true>
                  <div [hidden]="emailModal.pristine || emailModal.valid" class="alert alert-danger" >
                    <div  *ngIf="emailModal.errors?.required">
                        Please enter your email
                    </div>
                    <div *ngIf="emailModal.errors?.pattern">
                      Please enter valid email
                    </div>
                  </div>
                </div>
                
              </div>
            </form>

      </div>
      <p class="card-text">We will not share this email to anyone.</p>
      <a class="btn" (click)="forgotPasswordFunction()">Submit</a>
    </div>
 
  </div>
</div>
