
<nav class="navbar navbar-expand-lg navbar-light bg-light"> <h3 style="color:skyblue"> Meeting Planner</h3>
  <hr>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end mr-auto" id="navbarSupportedContent">
    <ul class="navbar-nav mr-5" >
    
      
    </ul>
  
    
  </div>
</nav>

<div class='container mt-10'>
  

<div class="card text-center">
    <div class="card-header">
      Reset password    </div>
    <div class="card-body">
      <h5 class="card-title">Please provide new password for your account</h5>
      
      <div class="card-title mt-4">
          <form>
              <div class="row justify-content-center">
                <div class="col-lg-6  col-md-6 col-sm-12">
                  <input type="password" #passwordModal="ngModel" [(ngModel)]="password" name="password" pattern="^[A-Za-z0-9@#^&?$!%]{8,14}$" class="form-control" placeholder="Password" required=true>
                  <div [hidden]="passwordModal.pristine || passwordModal.valid" class="alert alert-danger" >
                    <div  *ngIf="passwordModal.errors?.required">
                        Please enter password
                    </div>
                    <div *ngIf="passwordModal.errors?.pattern">
                      Please enter valid passwords
                    </div>
                  </div>
                </div>
             
                    
                
              </div>
              <div class="row justify-content-center mt-4">
                  <div class="col-lg-6  col-md-6 col-sm-12">
                    <input type="password" #repasswordModal="ngModel" [(ngModel)]="retypepassword" name="retypepassword" pattern="^[A-Za-z0-9@#^&?$!%]{8,14}$" class="form-control" placeholder="Retype password" required=true>
                    <div [hidden]="repasswordModal.pristine || repasswordModal.valid" class="alert alert-danger" >
                      <div  *ngIf="repasswordModal.errors?.required">
                          Please enter password
                      </div>
                      <div *ngIf="repasswordModal.errors?.pattern">
                        Please enter valid passwords
                      </div>
                    </div>
                  </div>
                </div>
            </form>

      </div>
      <p class="card-text">We will not share this email to anyone.</p>
      <a class="btn" (click)="resetPasswordFunction()">Submit</a>
    </div>
 
  </div>
</div>
